* {
	font-family: 'Roboto Mono', monospace;
	color: #8f0000;
	outline: none;
}

body {
	display: flex;
	background-color: black;
	margin: 0;
	width: 210mm;
	height: 297mm;
}

#profilePhoto {
	width: 100%;
}

header p {
	font-weight: 500;
	font-size: 16px;
	margin-left: 8px;
}


#contact {
	margin-top: 12px;
}

#socialLinks {
	display: flex;
	flex-direction: column;
}

#socialLinks div p {
	margin-top: -8px;
	margin-left: 20px;
	font-weight: 600;
}
#socialLinks img {
	margin-left: auto;
	margin-right: 10px;
	width: 60px;
}

header {
	background-color: black;
	height: 100%;
	width: 70%;
}
main {
	background-color: white;
	padding-left: 8px;
	width: 100%;
	height: 100%;
}
main div {
	margin-top: 8px;
}
main img {
	width: 120px;
	height: 120px;
	object-fit: contain;
}

